In [ ]:
import pandas as pd

In [2]:
import pandas as pd
df = pd.read_csv('student.csv',index_col=0)
df

     國文  英文  數學  地理  探討
黃必琪  95  99  74  94  85
李政成  77  97  84  63  75
陳彥治  57  80  62  62  96
陳姵彬  67  51  76  98  98
林瑞喬  84  51  58  58  69

In [3]:
df['國文'] + df['英文'] + df['地理'] + df['數學'] + df['探討']

黃必琪    447
李政成    396
陳彥治    357
陳姵彬    390
林瑞喬    320
dtype: int64

In [4]:
stu_sum = df.sum(axis=1)
stu_mean = stu_sum / 5.0

In [5]:
df['總分'] = stu_sum
df['平均'] = stu_mean

In [6]:
df

     國文  英文  數學  地理  探討   總分    平均
黃必琪  95  99  74  94  85  447  89.4
李政成  77  97  84  63  75  396  79.2
陳彥治  57  80  62  62  96  357  71.4
陳姵彬  67  51  76  98  98  390  78.0
林瑞喬  84  51  58  58  69  320  64.0