In [2]:
numbers=[1,2,3,4,5] #使用符號建立
mixed_list=[1,"hello",3,14,True] #元素
empty_list=[]
list_from_range = list(range(5))
list_from_range

#list操作
list_from_range[4] #subscript

4

In [4]:
range(5)
range(1,5)
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [10]:
p1={'name':'linda',
 'age':50,
 'city':'Taoyuan'}
print(p1['name'])
print(p1.get('age'))

linda
50

In [12]:
print(p1['name'])
print(p1.get('age'))

linda
50

In [13]:
fruits=['apple','orage','scrowstrbarry']
for index, fruit in enumerate(fruits):
    print(index, fruit, sep='->')
    print("==========")

0->apple
==========
1->orage
==========
2->scrowstrbarry
==========

In [14]:
cities = {
    'Taipei': '台北',
    'New Taipei': '新北市',
    'Taoyuan': '桃園',
    'Taichung': '台中',
    'Tainan': '台南',
    'Kaohsiung': '高雄',
    'Keelung': '基隆',
    'Hsinchu': '新竹',
    'Chiayi': '嘉義',
    'Hualien': '花蓮'
}
for key, value in cities.items():
    print(f"{key}: {value}")

Taipei: 台北
New Taipei: 新北市
Taoyuan: 桃園
Taichung: 台中
Tainan: 台南
Kaohsiung: 高雄
Keelung: 基隆
Hsinchu: 新竹
Chiayi: 嘉義
Hualien: 花蓮

In [16]:
import random
import string

#請幫我產生50組學生的資料，包括NAME及5科成績，依序欄位為CHINESE、ENGLISH、MATH、HISTORY、HEALTH。
students = []
for i in range(1,51):
    name = f'student{i}'
    chinese = random.randint(0, 100)
    english = random.randint(0, 100)
    math = random.randint(0, 100)
    history = random.randint(0, 100)
    health = random.randint(0, 100)
    students.append({'NAME': name, 'CHINESE': chinese, 'ENGLISH': english, 'MATH': math, 'HISTORY': history, 'HEALTH': health})

for student in students:
    print(student)

{'NAME': 'student1', 'CHINESE': 98, 'ENGLISH': 31, 'MATH': 10, 'HISTORY': 61, 'HEALTH': 61}
{'NAME': 'student2', 'CHINESE': 42, 'ENGLISH': 70, 'MATH': 62, 'HISTORY': 29, 'HEALTH': 11}
{'NAME': 'student3', 'CHINESE': 13, 'ENGLISH': 78, 'MATH': 33, 'HISTORY': 4, 'HEALTH': 15}
{'NAME': 'student4', 'CHINESE': 21, 'ENGLISH': 42, 'MATH': 95, 'HISTORY': 36, 'HEALTH': 32}
{'NAME': 'student5', 'CHINESE': 63, 'ENGLISH': 68, 'MATH': 99, 'HISTORY': 11, 'HEALTH': 2}
{'NAME': 'student6', 'CHINESE': 17, 'ENGLISH': 73, 'MATH': 42, 'HISTORY': 63, 'HEALTH': 95}
{'NAME': 'student7', 'CHINESE': 90, 'ENGLISH': 43, 'MATH': 49, 'HISTORY': 53, 'HEALTH': 7}
{'NAME': 'student8', 'CHINESE': 86, 'ENGLISH': 34, 'MATH': 76, 'HISTORY': 23, 'HEALTH': 68}
{'NAME': 'student9', 'CHINESE': 36, 'ENGLISH': 4, 'MATH': 26, 'HISTORY': 86, 'HEALTH': 91}
{'NAME': 'student10', 'CHINESE': 79, 'ENGLISH': 28, 'MATH': 38, 'HISTORY': 33, 'HEALTH': 82}
{'NAME': 'student11', 'CHINESE': 39, 'ENGLISH': 99, 'MATH': 99, 'HISTORY': 39, 'HEALTH': 87}
{'NAME': 'student12', 'CHINESE': 76, 'ENGLISH': 57, 'MATH': 37, 'HISTORY': 13, 'HEALTH': 79}
{'NAME': 'student13', 'CHINESE': 91, 'ENGLISH': 25, 'MATH': 14, 'HISTORY': 46, 'HEALTH': 97}
{'NAME': 'student14', 'CHINESE': 6, 'ENGLISH': 13, 'MATH': 9, 'HISTORY': 33, 'HEALTH': 18}
{'NAME': 'student15', 'CHINESE': 94, 'ENGLISH': 16, 'MATH': 82, 'HISTORY': 56, 'HEALTH': 78}
{'NAME': 'student16', 'CHINESE': 58, 'ENGLISH': 53, 'MATH': 72, 'HISTORY': 52, 'HEALTH': 89}
{'NAME': 'student17', 'CHINESE': 7, 'ENGLISH': 66, 'MATH': 98, 'HISTORY': 12, 'HEALTH': 5}
{'NAME': 'student18', 'CHINESE': 98, 'ENGLISH': 100, 'MATH': 97, 'HISTORY': 74, 'HEALTH': 75}
{'NAME': 'student19', 'CHINESE': 98, 'ENGLISH': 8, 'MATH': 88, 'HISTORY': 36, 'HEALTH': 85}
{'NAME': 'student20', 'CHINESE': 11, 'ENGLISH': 22, 'MATH': 13, 'HISTORY': 48, 'HEALTH': 48}
{'NAME': 'student21', 'CHINESE': 49, 'ENGLISH': 20, 'MATH': 82, 'HISTORY': 8, 'HEALTH': 50}
{'NAME': 'student22', 'CHINESE': 95, 'ENGLISH': 71, 'MATH': 69, 'HISTORY': 84, 'HEALTH': 22}
{'NAME': 'student23', 'CHINESE': 83, 'ENGLISH': 29, 'MATH': 9, 'HISTORY': 82, 'HEALTH': 75}
{'NAME': 'student24', 'CHINESE': 11, 'ENGLISH': 94, 'MATH': 94, 'HISTORY': 1, 'HEALTH': 15}
{'NAME': 'student25', 'CHINESE': 26, 'ENGLISH': 53, 'MATH': 19, 'HISTORY': 61, 'HEALTH': 45}
{'NAME': 'student26', 'CHINESE': 54, 'ENGLISH': 61, 'MATH': 71, 'HISTORY': 17, 'HEALTH': 34}
{'NAME': 'student27', 'CHINESE': 41, 'ENGLISH': 64, 'MATH': 31, 'HISTORY': 79, 'HEALTH': 5}
{'NAME': 'student28', 'CHINESE': 32, 'ENGLISH': 87, 'MATH': 76, 'HISTORY': 53, 'HEALTH': 67}
{'NAME': 'student29', 'CHINESE': 67, 'ENGLISH': 56, 'MATH': 76, 'HISTORY': 20, 'HEALTH': 38}
{'NAME': 'student30', 'CHINESE': 44, 'ENGLISH': 19, 'MATH': 69, 'HISTORY': 52, 'HEALTH': 61}
{'NAME': 'student31', 'CHINESE': 23, 'ENGLISH': 10, 'MATH': 46, 'HISTORY': 63, 'HEALTH': 65}
{'NAME': 'student32', 'CHINESE': 92, 'ENGLISH': 48, 'MATH': 31, 'HISTORY': 39, 'HEALTH': 98}
{'NAME': 'student33', 'CHINESE': 65, 'ENGLISH': 42, 'MATH': 61, 'HISTORY': 86, 'HEALTH': 8}
{'NAME': 'student34', 'CHINESE': 4, 'ENGLISH': 90, 'MATH': 70, 'HISTORY': 91, 'HEALTH': 30}
{'NAME': 'student35', 'CHINESE': 96, 'ENGLISH': 45, 'MATH': 77, 'HISTORY': 61, 'HEALTH': 34}
{'NAME': 'student36', 'CHINESE': 71, 'ENGLISH': 98, 'MATH': 19, 'HISTORY': 57, 'HEALTH': 75}
{'NAME': 'student37', 'CHINESE': 100, 'ENGLISH': 68, 'MATH': 8, 'HISTORY': 80, 'HEALTH': 26}
{'NAME': 'student38', 'CHINESE': 87, 'ENGLISH': 57, 'MATH': 19, 'HISTORY': 47, 'HEALTH': 70}
{'NAME': 'student39', 'CHINESE': 98, 'ENGLISH': 10, 'MATH': 42, 'HISTORY': 61, 'HEALTH': 21}
{'NAME': 'student40', 'CHINESE': 53, 'ENGLISH': 50, 'MATH': 79, 'HISTORY': 67, 'HEALTH': 11}
{'NAME': 'student41', 'CHINESE': 96, 'ENGLISH': 85, 'MATH': 24, 'HISTORY': 28, 'HEALTH': 24}
{'NAME': 'student42', 'CHINESE': 36, 'ENGLISH': 85, 'MATH': 25, 'HISTORY': 54, 'HEALTH': 33}
{'NAME': 'student43', 'CHINESE': 53, 'ENGLISH': 82, 'MATH': 78, 'HISTORY': 64, 'HEALTH': 20}
{'NAME': 'student44', 'CHINESE': 27, 'ENGLISH': 20, 'MATH': 90, 'HISTORY': 20, 'HEALTH': 46}
{'NAME': 'student45', 'CHINESE': 47, 'ENGLISH': 43, 'MATH': 3, 'HISTORY': 17, 'HEALTH': 65}
{'NAME': 'student46', 'CHINESE': 55, 'ENGLISH': 25, 'MATH': 100, 'HISTORY': 72, 'HEALTH': 55}
{'NAME': 'student47', 'CHINESE': 66, 'ENGLISH': 22, 'MATH': 93, 'HISTORY': 95, 'HEALTH': 85}
{'NAME': 'student48', 'CHINESE': 92, 'ENGLISH': 58, 'MATH': 4, 'HISTORY': 31, 'HEALTH': 96}
{'NAME': 'student49', 'CHINESE': 61, 'ENGLISH': 97, 'MATH': 62, 'HISTORY': 3, 'HEALTH': 43}
{'NAME': 'student50', 'CHINESE': 72, 'ENGLISH': 79, 'MATH': 46, 'HISTORY': 57, 'HEALTH': 15}